@media screen and (max-width: 760px) {
    .team {
        margin-right: 10px;
        margin-left: 10px;
        height: 100%;
        margin-bottom: 150px;
    }
    .profile img {
        height: 4em;
        transition-duration: 0.5s;
        border-radius: 50%;
        border: 5px solid #000000;
        filter: drop-shadow(-20px 0 10px rgba(0, 0, 0, 0.1));
        background-color: white;
        cursor: pointer;
    }
}

@media screen and (min-width: 760px) {

    .team {
        margin-bottom: 150px;
    }
    
.profile img {
    height: 12em;
    border-radius: 50%;
    border: 5px solid #000000;
    filter: drop-shadow(-20px 0 10px rgba(0, 0, 0, 0.1));
    background-color: white;
    cursor: pointer;
    transition-duration: 0.5s;
}
}

#clients {
    margin: 0;
    padding-top: 60;
    padding-bottom: 60;
    height: fit-content;
    display: flex;
    justify-content: center;
}

.section-heading {
    font-family: "Roboto Condensed", cursive;
    text-align: center;
    font-size: 64px;
    color: #10996d;
    margin: 0 0 70px;
}

.container {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    flex-wrap: wrap;
    max-width: 1440px;
    margin: 0 auto;
}

.profile {
    position: relative;
    transition: all 0.3s;
    margin-top: 150px;
    display: flex;
    justify-content: center;
}

.profile:hover {
    transform: translateY(25px);
}

.profile .name {
    position: absolute;
    background-color: #10996d;
    color: #fff;
    font-family: "Bebas Neue", cursive;
    padding: 15px 30px;
    border-radius: 100px;
    bottom: -80px;
    left: 50%;
    white-space: nowrap;
    transform: translate(-50%, -50px);
    letter-spacing: 1px;
    font-size: .5em;
    opacity: 0;
    transition: all 0.3s;;
}

.profile .name::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #10996d;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.profile img:hover+.name {
    opacity: 1;
    transform: translateX(-50%);
    box-shadow: 0 10px 20px rgba(86, 86, 198, 0.3);
}