@media screen and (max-width: 760px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        justify-items: center;
    }
    .container a:last-child {
        grid-column: 2;
    }
    .team{
        margin-bottom:10px;
    }
.profile img{

    width: 25vw;
}
.section-heading{
    display: none;
}
}

@media screen and (min-width:760px) {

    .container {
        display: flex;
        justify-content: center;
        width: 90%;
        max-width: 1440px;
        margin: 0 auto;
        align-content: center;
    }
    .team{

    margin-bottom: 150px;
    }

    .profile:hover {
        transform: translateY(25px);
    }

    .profile .name::before {
        content: "";
        position: absolute;
        width: 15px;
        height: 15px;
        background-color: #10996d;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }
.profile img{

    width: 10vw;
}
    .profile img:hover+.name {
        opacity: 1;
        transform: translateX(-50%);
        box-shadow: 0 10px 20px rgba(86, 86, 198, 0.3);
    }

    .profile:not(:first-child) img {
        margin-left: -1.5vh;
    }
}


#clients {
    scroll-margin-top: 100px;
    margin: 0;
    width: 100%;
    padding-bottom: 60;
    display: flex;
    justify-content: center;
    background-color: black;
    height: 500px;
}

#client-bg {
    position: absolute;
    background-color: black;
    width: 100%;
overflow: hidden;
}

#VideoWorker-1 {
    opacity: 35%;
}

.team {
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}

.team p {
    color: white;
    font-size: 1.5vw;
    font-family: "Roboto Condensed";
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    padding: 20px;
    padding-bottom:110px;
    border-radius: 50px;
}

.team p span {
    font-size: 2vw;
    font-weight: bold;
    line-height: 10px;
    color: #38e4ae;
    padding-bottom: 50px;
}

.profile {
    position: relative;
    transition: all 0.3s;
}

.profile img {
    border-radius: 50%;
    border: 3px solid #000000;
    filter: drop-shadow(-20px 0 10px rgba(0, 0, 0, 0.1));
    background-color: white;
    cursor: pointer;
    max-height: 230px;
    max-width: 230px;
}

.profile .name {
    position: absolute;
    background-color: #10996d;
    color: #fff;
    font-family: "Roboto Condensed";
    padding: 15px 30px;
    border-radius: 100px;
    bottom: -80px;
    left: 50%;
    white-space: nowrap;
    transform: translate(-50%, -50px);
    letter-spacing: 1px;
    font-size: 1.2vw;
    opacity: 0;
    transition: all 0.3s;
    ;
}