#pricing {
    height: 1000px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(/assets/images/blurbg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    
    color: white;
    text-shadow: 2px 2px #000;
    font-family: "roboto condensed", sans-serif;
    width: 100%;
    font-size: 1.5rem;

}

#pricing img {
    width: 250px;
    align-self: flex-end;
}

#table-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    margin-left: 5%;
    margin-bottom: 10px;
    font-size: 40px;
}

#line {
    background-color: #0e0e0e;
    height: 65px;
    width: 4px;
    justify-self: center;
    margin: 10px;
}


table,
td {
    border: 3px solid white;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 90%;
}
th{
    font-size: 40px;
    text-align: start;
}
table td:first-child{
    font-size: 40px;
    text-align: start;
    font-weight: bold;
    padding-left: 20px;
}
#pricing-table td:last-child {
    min-width: 220px;
    font-size: 40px;
    padding-left: 20px;

}
.sub-text{
    font-size: 15px;
}
#pricing-table .red {
    color: rgb(223, 99, 99);
    padding-left: 50px;
}
#table-container{
    overflow-x: auto;
    max-height: 700px;
    white-space: nowrap;
    display: unset;
    text-align: left;
    padding-left: 10%;
}