body {
    margin: auto;
}

@media screen and (max-width: 760px) {
    #name {
        width: 70%;
    }

    .border-text {
        color: white;
        font-size: 60px;
        transform: translate(0px, -38px);
        margin: auto;
        padding-left: 4px;
        padding-right: 4px;
        font-family: "lobster", cursive;
        text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    }
}

@media screen and (min-width: 760px) {
    .border-text {
        color: white;
        font-size: 90px;
        transform: translate(0px, -60px);
        margin: auto;
        padding-left: 4px;
        padding-right: 4px;
        font-family: "lobster", cursive;
        text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    }
}

.jarallax {
    height: inherit;
    display: flex;
    justify-content: center;
}
#name {
    justify-self: center;
    align-self: center;
}

#logo {
    height: 1000px;
    background-color: black;
    overflow: hidden;
}

.border {
    background-color: black;
    height: 10px;
    width: 100%;
    overflow: visible;
}

.title {
    color: white;
    border: 2px solid white;
    width: fit-content;
    height: fit-content;
    z-index: 20;
}

#about {
    position: relative;
    height: 800;
    background-color: black;
}

.border {
    position: absolute;
    z-index: 10;
    display: flex;
    justify-content: center;
}

#clients {
    height: 1000px;
    background-color: black;
}

#clients.jarallax {
    flex-direction: column;
}

#clients-buttons {
    justify-self: center;
    font-size: 40px;
    color: white;
    transform: translate(0px, 70px);
    color:rgb(126, 126, 126);
    font-weight:bolder;
}

#clients-buttons button {
    background: none;
    border: none;
    font-size: 40px;
    color:rgb(126, 126, 126);
    font-family: 'Black Han Sans', sans-serif;
    transition-duration: 0.7s;
}
#clients-buttons button:hover{
    color:white;
    transform: scale(1.1);
    cursor: pointer;
}
.clients-text{
    justify-self: center;
    align-self: center;
    font-family: "Black Han Sans", sans-serif;
    color:white;
    text-align: center;
    transform: translate(0px, 300px);
}
#portfolio {
    height: 1000px;
    background-color: yellow;
}

#contact {
    height: 1000px;
    background-color: blue;
}