:root {
    --fs-300: clamp(1.13rem, calc(1.09rem + 0.18vw), 1.38rem);
    --fs-400: clamp(1.35rem, calc(1.28rem + 0.35vw), 1.83rem);
    --fs-500: clamp(1.62rem, calc(1.50rem + 0.59vw), 2.44rem);
    --fs-600: clamp(1.94rem, calc(1.76rem + 0.94vw), 3.26rem);
    --fs-700: clamp(2.33rem, calc(2.05rem + 1.43vw), 4.34rem);
    --fs-800: clamp(2.80rem, calc(2.37rem + 2.13vw), 5.79rem);
  }

html {
    scroll-behavior: smooth;
    width: 100%;
    background-color: black;
    font-family: "roboto condensed", sans-serif;
}

body {

    --def: #363b3d;
    --inv: #fff;
    margin: auto;

}

@media screen and (max-width: 760px) {


    .border-text {
        color: white;
        font-size: 60px;
        transform: translate(0px, -38px);
        margin: auto;
        padding-left: 4px;
        padding-right: 4px;
        font-family: "lobster", cursive;
        transition-duration: 0.5s;
        text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    }
}

@media screen and (min-width: 760px) {
    .border-text {
        color: white;
        font-size: 90px;
        transform: translate(0px, -60px);
        margin: auto;
        padding-left: 4px;
        padding-right: 4px;
        font-family: "lobster", cursive;
        transition-duration: 0.5s;
        text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    }

}

.jarallax {
    height: inherit;
    display: flex;
    justify-content: center;
    width: 100%;
}


.border {
    background-color: #0e0e0e;
    height: 10px;
    width: 100%;
    overflow: visible;
    position: absolute;
    z-index: 3;
    display: flex;
    justify-content: center;
}


#contact {
    height: 1000px;
    background-color: blue;
    scroll-margin-top: 100px;
}





/* Styles for Influencers and Businesses buttons   */
.btn {
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 78.39px;
    font-size: 1.4rem;
    color: var(--inv);
    letter-spacing: 1.1rem;
    text-transform: uppercase;
    transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
    cursor: pointer;
    user-select: none;
}

.btn:before,
.btn:after {
    content: '';
    position: absolute;
    transition: inherit;
    z-index: -1;
}

.btn:hover {
    color: var(--def);
    transition-delay: .5s;
}

.selected {
    color: var(--def);
    background: var(--inv);
    transition: none;
}

.btn:hover:before {
    transition-delay: 0s;
}

.btn:hover:after {
    background: var(--inv);
    transition-delay: .35s;
}


.from-left:before,
.from-left:after {
    top: 0;
    width: 0;
    height: 100%;
}

.from-left:before {
    right: 0;
    border: 1px solid var(--inv);
    border-left: 0;
    border-right: 0;
}

.from-left:after {
    left: 0;
}

.from-left:hover:before,
.from-left:hover:after {
    width: 100%;
}

.from-right:before,
.from-right:after {
    top: 0;
    width: 0;
    height: 100%;
}

.from-right:before {
    left: 0;
    border: 1px solid var(--inv);
    border-left: 0;
    border-right: 0;
}

.from-right:after {
    right: 0;
}

.from-right:hover:before,
.from-right:hover:after {
    width: 100%;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

footer {
    background-color: #0e0e0e;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 40px;
}

footer img {
    max-width: 200px;
    justify-self: center;
    padding: 10px;
    transform: rotatez(10deg)
}

footer a:link {
    color: #38e4ae;
    font-family: "roboto condensed", sans-serif;
    text-decoration: none;
}

footer p {
    color: #b4b4b4;
}

#contact-popout {
    position: fixed;
    right: 0;
    top: 50%;
    z-index: 20;
    background-color: rgb(56, 228, 174);
    writing-mode: vertical-lr;
    padding: 5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-family: "roboto condensed", sans-serif;
    font-weight: bolder;
    cursor: pointer;
}


.pulse {
    animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0px rgba(56, 228, 174, 0.192);
    }

    100% {
        box-shadow: 0 0 0 20px rgba(56, 228, 174, 0);
    }
}


.modal {
    background-color: #1b1b1b;
    color: rgb(252, 252, 252);
    padding: 3%;
    width: 100%;
    z-index: 15;
    font-family: "roboto condensed", sans-serif;
}

.modal p {
    font-size: 35px;
    text-align: center;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="subject"],
textarea {
    max-width: 100%;
    min-width: 100%;
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1rem;
}

input[type="submit"] {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}


.scroll-down {
    display: flex;
    flex-direction: column;
    color: white;
    position: absolute;
    bottom: 1%;
    align-self: center;
    align-items: center;
}

.scroll-down i {
    margin-top: 9px;
}

.bounce-down {
    animation: bounce-down 2s infinite;
}

@keyframes bounce-down {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-10px);
    }

    60% {
        transform: translateY(-5px);
    }
}












#aboutme {
    /*
    background-color: black;
    background: linear-gradient(241deg, #118d59, #b14040);
    background-size: 400% 400%;
    */
    background-image: url(/assets/images/blurbg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    height: 75vh;
    width: 100%;

    scroll-margin-top: 100px;

    /*
    -webkit-animation: gradient-bg 10s ease infinite;
    -moz-animation: gradient-bg 10s ease infinite;
    animation: gradient-bg 10s ease infinite;
    */
}

@-webkit-keyframes gradient-bg {
    0% {
        background-position: 93% 0%
    }

    50% {
        background-position: 0% 100%
    }

    100% {
        background-position: 93% 0%
    }
}

@-moz-keyframes gradient-bg {
    0% {
        background-position: 93% 0%
    }

    50% {
        background-position: 0% 100%
    }

    100% {
        background-position: 93% 0%
    }
}

@keyframes gradient-bg {
    0% {
        background-position: 93% 0%
    }

    50% {
        background-position: 0% 100%
    }

    100% {
        background-position: 93% 0%
    }
}

#aboutme-content {
    padding-left: 5%;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    transition-duration: 1.5s;
}

#aboutme-content img {
    height: 65vh;
    align-self: flex-end;

}

#aboutme-text {
    align-self: center;
    padding-left: 20px;
    padding-right: 10%;
    color: white;
    font-family: "roboto condensed", sans-serif;
    font-size: var(--fs-400);
}

#aboutme-text h1 {
    font-size: var(--fs-700);
}

.scroll-hidden {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.scroll-visible {
    opacity: 1;
}